extends ../layout/main.pug

mixin list(stt, account)
    tr#table-primary
        th(scope='row')= stt
        td
            a(href='/staff/accounts/' + infoUser.id + '/detail/' + account.id)= account.id
        td= account.deposit
        td= account.interest
        td= account.accountTypeMessage
        //td= account.stateMessage
        td= account.createdDate
        td= account.expirationDate


block navbar
    include ../layout/navbarStaff.pug
block content
    .row.mt-4
        .col-6
            a.btn.btn-warning(href='/staff/accounts/' + infoUser.id + '/create') Thêm tài khoản tiết kiệm mới
        .col-6
            form(action='/staff/accounts/' + infoUser.id + '?search', method="get")
                .form-group
                    input#name.form-control(type="text", name="search", placeholder="Nhập số tài khoản", value= search ? search : "")
        .col-12
            .card.mt-2
                .card-body
                    h3.card-title.text-center Thông tin khách hàng
                    .row
                        .col-12
                            .row
                                .form-group.col-lg-4.col-12
                                    label(for="fullName") Họ và tên
                                    input#fullName.form-control(type="text", name="fullName", value= infoUser.fullName, disabled)
                                .form-group.col-lg-4.col-12
                                    label(for="identityNumber") Số chứng minh thư
                                    input#identityNumber.form-control(type="text", name="identityNumber", value= infoUser.identityNumber, disabled)
                                .form-group.col-lg-4.col-12
                                    label(for="username") Tài khoản
                                    input#username.form-control(type="text", name="username", value= infoUser.username, disabled)

        .col-12.mt-2
            table.table.table-bordered.text-center
                thead
                    tr
                        th(scope='col', width='2%') #
                        th(scope='col') Số tài khoản
                        th(scope='col') Tiền gửi
                        th(scope='col') Tiền lãi
                        th(scope='col') Loại tiết kiệm
                        //th(scope='col') Trạng thái
                        th(scope='col') Ngày mở
                        th(scope='col') Ngày đến hạn
                tbody
                    if accounts
                      - var x = 1
                      each account in accounts
                          +list(x++, account)
